.theme-nrw { --bg:#0a1a2a; --text:#fff; }
.theme-glass { --bg:#e2ebf0; --text:#000; }
.theme-material { --bg:#f2f2f2; --text:#111; }
.theme-windows { --bg:#1f1f1f; --text:#fff; }
.theme-cyber { --bg:#02040a; --text:#0ff; }
